<!DOCTYPE html>
<html lang="en">
    <head>
        <title>React Bootstrap</title>
        <meta charset="UTF-8">
        <script src="https://fb.me/react-0.14.3.js"></script>
        <script src="https://fb.me/react-dom-0.14.3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.js"></script>
        <script src="./scripts/react/Router.js"></script>
        <script src="./scripts/react/Route.js"></script>
        <script src="./scripts/react/require.js"></script>

        
        <script src="./scripts/singlePageApplication/routes.js" type="text/babel"></script>
        <script src="./scripts/singlePageApplication/main.js" type="text/babel"></script>
    </head>

    <body>
        <div id="reactBootstrap"></div>
    </body>
</html>