<!DOCTYPE html>
<html lang="en">
    <head>
        <title>React Bootstrap</title>
        <meta charset="UTF-8">
        <script src="https://fb.me/react-0.14.3.js"></script>
        <script src="https://fb.me/react-dom-0.14.3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.js"></script>
    </head>

    <body>
        <div id="reactBootstrap"></div>
        <script src="./scripts/components/child.react.js"></script>
        <script src="./scripts/components/form.react.js"></script>
        <script src="./scripts/components/title.react.js"></script>
        <script src="./scripts/components/lifecycle.react.js" type="text/babel"></script>
    </body>
</html>